@import "tailwindcss";

@layer base, components, utilities;

:root {
    /* COLORS */
    --color-main: #1F1F21;
    --color-main2: #ffffff;
    --color-accent: rgba(58,230,1,0.25);
    --color-accent2: rgba(58,230,1,1);

    /* LAYOUT */
    --header-height: 61px;

    /* CONTAINER */
    --container-width: 1200px;
    --container-padding-x: 20px;
}

@theme inline {
    --color-main: var(--color-main);
    --color-main2: var(--color-main2);
    --color-accent: var(--color-accent);
    --color-accent2: var(--color-accent2);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --spacing: 1px;
}

@layer base {
    body {
        background: var(--color-main);
        color: var(--color-main2);
        font-family: Arial, Helvetica, sans-serif;
    }
}

@layer utilities {
    .container {
        max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
        width: 100%;
        padding-inline: var(--container-padding-x);
        margin-inline: auto;
    }
}